@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import "@flaticon/flaticon-uicons/css/all/all";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
